Makefile
Makefile.in
.deps

/aclocal.m4
/ar-lib
/autom4te.cache/
/cogito.dSYM/
/compile
/config.*
/configure
/depcomp
/install-sh
/ltmain.sh
/m4/
/missing
/stamp-h?
/ylwrap

*.o
src/cogito
src/cogito.[co]
src/libcogito.a
src/parser.[ch]

test-files/a.out
