Source: libcogito
Priority: optional
Maintainer: Kevin Deisz <kevin.deisz@gmail.com>
Build-Depends: debhelper (>= 9), autotools-dev
Standards-Version: 3.9.5
Section: libs
Homepage: <https://github.com/cogito-lang/libcogito>

Package: libcogito
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Define your AWS IAM policies using an easy-to-read format.
